{% extends 'Order_Sidebar.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Create an order{% endblock %}
{% block child_content %}
    <h2>Create order for <a href="{% url 'view_product' regard_item.id %}"> {{ regard_item.name }}</a></h2>
    <form class="form" method="post" action="{% url 'create_order' regard_item.id %}">
        {% csrf_token %}
        <div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Product information</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="order_list">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Weight Unit</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <img src="/{{ primary_photo.0.image }}" class="img-responsive img-rounded"/>
                                <p><a href="{% url 'view_product' regard_item.id %}">{{ regard_item.name }}</a></p>
                            </td>
                            <td>{{ order_form.item_amount }}</td>
                            <td>{{ regard_item.weight_unit }}</td>
                            <td class="item_price">{{ regard_item.price }}</td>
                            <td class="order_subtotal">0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer clearfix">
                    <h4 class="pull-right text-danger">Total: <span id="order_total">0</span></h4>
                </div>
            </div>
        </div>

        <div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipping information</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        {{ order_form.shipping_method.label_tag }}
                        {{ order_form.shipping_method }}
                    </div>
                    <div class="col-sm-4">
                        {% if regard_item.user.shipping %}
                            {{ order_form.shipping_address.label_tag }}
                            {{ order_form.shipping_address }}
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        EXPECTED SHIPMENT DATE?
                    </div>

                </div>
            </div>

        </div>
        <div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Payment information</h3>
                </div>
                <div class="panel-body">
                    PAYMENT
                </div>
            </div>

        </div>
        <div class="">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Additional information</h3>
                </div>
                <div class="panel-body">
                    <p class="text-muted">Additional terms and info</p>
                    {{ order_form.additional_info }}
                </div>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-raised btn-success">Confirm order</button>
        </div>
    </form>
    {% render_bundle 'order' %}
{% endblock %}