{% if order and order.order_status == 'canceled' %}
    <h4 class="text-danger text-center">THIS ORDER IS CANCELED</h4>
{% endif %}
{% if order and order.order_status == 'confirmed' %}
    <h4 class="text-info text-center">ORDER CONFIRMED</h4>
{% endif %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Product information</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover" id="order_list">
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Weight Unit</th>
                <th>Unit Price</th>
                <th class="hidden-xs">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <img src="/{{ primary_photo.0.image }}" class="img-responsive img-rounded"/>
                    <p><a href="{% url 'view_product' regard_item.id %}">{{ regard_item.name }}</a></p>
                </td>
                <td>{{ order_form.item_amount }}</td>
                <td>{{ regard_item.weight_unit }}</td>
                <td class="item_price">{{ regard_item.price }}</td>
                <td class="hidden-xs">$<span class="order_subtotal">{{ order.total }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <h4 class="pull-right text-danger">Total: $<span id="order_total">{{ order.total }}</span></h4>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Shipping information</h3>
    </div>
    <div class="panel-body">
        <div class="col-sm-4">
            {{ order_form.shipping_method.label_tag }}
            {{ order_form.shipping_method }}
        </div>
        <div class="col-sm-4">
            {% if regard_item.user.shipping %}
                {{ order_form.shipping_address.label_tag }}
                {{ order_form.shipping_address }}
            {% endif %}
        </div>
        <div class="col-sm-4">
            EXPECTED SHIPMENT DATE?
        </div>

    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Payment information</h3>
    </div>
    <div class="panel-body">
        PAYMENT
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Additional information</h3>
    </div>
    <div class="panel-body">
        {{ order_form.additional_info }}
    </div>
</div>

{% if order and order.editable != user %}
    <p class="text-warning">Waiting for changes...</p>
{% endif %}
<button type="submit" class="btn btn-raised btn-success"
        {% if order.order_status == 'canceled' or order.editable != user and order %}disabled{% endif %}>
    {% if order %}
        Make Changes
    {% else %}
        Start order
    {% endif %}
</button>
{% if order.item.user == user %}
    <a href=# data-url="{% url 'confirm_order' order.id %}" data-id="{{ order.id }}"
       id="finalize-order"
       class="btn btn-raised btn-primary">
        Confirm Order
    </a>
{% endif %}

{% if order and not order.order_status == 'canceled' %}
    <button type="button" data-url="{% url 'cancel_order' order.id %}" data-id="{{ order.id }}"
            class="btn btn-raised btn-danger pull-right clearfix btn-cancel">Cancel Order
    </button>
{% elif order and order.order_status == 'canceled' %}
    <a href="{% url 'view_all_message' order.id %}" target="_blank" class="pull-right clearfix">View all messages</a>
{% endif %}