<div id="order_chats" data-chatid="{{ order.id }}" data-sender="{{ user.profile.display_name }}">
    <div class="panel panel-primary">
        <div class="panel-heading" id="accordion">
            <span class="glyphicon glyphicon-comment"></span> Chat
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <ul class="chat">
                    {% for message in messages %}
                        <li class="{% if message.sender == user %}right{% else %}left{% endif %} clearfix">
                        <span class="chat-img pull-{% if message.sender == user %}right{% else %}left{% endif %}">
                    <img src="/{{ message.sender.profile.profile_photo }}" alt="User Avatar" class="img-circle"
                         style="width:50px;"/>
                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                {% if message.sender == user %}
                                    <small class="text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{ message.timestamp|date:"m/d/y fA " }}
                                    </small>
                                    <strong class="primary-font pull-right ">{{ message.sender.get_full_name }}</strong>
                                {% else %}
                                    <strong class="primary-font">{{ message.sender.get_full_name }}</strong>
                                    <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{ message.timestamp|date:"m/d/y fA " }}
                                    </small>
                                {% endif %}
                            </div>
                            <p>
                                {{ message.content }}
                            </p>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-footer">
                <a href="{% url 'view_all_message' order.id %}" target="_blank">View all messages</a>
                <div class="form-group label-floating">
                    <label class="control-label" for="order_message">Type your message here...</label>
                    <div class="input-group">
                        <textarea id="order_message" type="text" class="form-control input" rows="4"></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-fab btn-fab-mini" id="send_order_message">
                                <i class="material-icons">send</i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>