<div class="panel panel-primary" style="margin-top: 10px">
    <div class="panel-heading">
        <h4 class="panel-title">Shipping Addresses</h4>
    </div>
    <div class="panel-body">
        <a href="#" class="btn btn-primary btn-raised" id="shipping_btn">Add Shipping Address</a>
        <hr>
        <table class="table table-hover table-stripe" id="address_list">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for shipping in shipping_addresses %}
                <tr>
                    <td>{{ shipping.name }}</td>
                    <td>{{ shipping.address }}{% if shipping.address2 %}, {{ shipping.address2 }}{% endif %}</td>
                    <td>{{ shipping.city }}</td>
                    <td>{{ shipping.state }}</td>
                    <td>{{ shipping.zip }}</td>
                    <td>{{ shipping.phone_number }}</td>
                    <td>
                        <a href="#" data-url="{% url 'edit_shipping_template' shipping.id %}"
                           class="btn btn-success btn-raised edit_shipping">Edit</a>
                        <a href="#" class="btn btn-danger btn-raised btn-delete"
                           data-url="{% url 'delete_shipping_address' shipping.id %}"
                           data-id="{{ shipping.id }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="add_form"></div>
