{% extends 'user_index.html' %}
{% block user_content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="text-center">Add Product</h1>
        <hr>
        <form class="form" method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                {% for fields in product_form %}
                    <div class="form-group">
                        <label id={{ fields.id_for_label }} class="control-label">{{ fields.label }}</label>
                        {{ fields }}
                        <span class="help-block">{{ fields.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-raised btn-success">Save</button>
        </form>
    </div>
{% endblock %}