{% extends 'user_index.html' %}
{% block user_content %}
    {# 1. BUTTON TO TRIGGER THE ACTION #}
    <div class="well text-muted text-center" style="padding: 4rem 0; margin-top: 10px;">
        <span class="glyphicon glyphicon-arrow-down" style="font-size: 4rem;"></span>
        <h3>Drop Photos Here to Upload</h3>
    </div>

    <button type="button" class="btn btn-primary js-upload-photos">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
    </button>

    <div class="progress" hidden>
        <div class="progress-bar" role="progressbar" style="width: 0;"></div>
    </div>
    {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
    <input id="id_image" type="file" name="image" multiple
           style="display: none;"
           data-url="{% url 'image_upload' item.id %}"
           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

    {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
    <table id="product_gallery" class="table table-bordered">
        <thead>
        <tr>
            <th>Photo</th>
            <th>Uploaded date</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        {% if item_image %}
            {% for image in item_image %}
                <tr>
                    <td><a href="/{{ image.image }}"><img src="/{{ image.image }}"
                                                          class="img-responsive img-rounded"></a></td>
                    <td>{{ image.updated_at }}</td>
                    <td><a href="{% url 'image_delete' image.id %}"
                           data-csrftoken='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
                           class="btn btn-danger btn-raised delete_photo">Delete</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        {% for photo in photos %}
            <tr>
                <td><a href="/{{ photo.file.url }}"><img src="/{{ photo.file.url }}"
                                                         class="img-responsive img-rounded"></a></td>
                <td>{{ photo.file.updated_at }}</td>
                <td><a href="{% url 'image_delete' photo.file.id %}"
                       data-csrftoken='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'
                       class="btn btn-danger btn-raised delete_photo">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'list_product' %}" class="btn btn-primary btn-raised">Done</a>
{% endblock %}