{% extends 'user_index.html' %}
{% block user_content %}
    <div class="container-fluid">
        <h1 class="text-center">Update Product</h1>
        <hr>
        <form class="form" method="post" action="{% url 'update_product' product_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ product_form.name.label_tag }}
                        {{ product_form.name }}
                    </div>
                    <div class="form-group">
                        {{ product_form.type.label_tag }}
                        {{ product_form.type }}
                    </div>
                    <div class="form-group">
                        {{ product_form.brand.label_tag }}
                        {{ product_form.brand }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ product_form.price.label_tag }}
                        {{ product_form.price }}
                    </div>
                    <div class="form-group">
                        {{ product_form.count.label_tag }}
                        {{ product_form.count }}
                    </div>
                    <div class="form-group">
                        {{ product_form.weight_unit.label_tag }}
                        {{ product_form.weight_unit }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        {{ product_form.categories.label_tag }}
                        {{ product_form.categories }}
                    </div>
                    <div class="form-group">
                        {{ product_form.description.label_tag }}
                        {{ product_form.description }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-raised btn-success pull-right">Images <i
                    class="fa fa-chevron-right"></i></button>
        </form>
    </div>
{% endblock %}