{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <div id="wrapper">
        {% include 'user_sidebar.html' %}
        <div id="page-content-wrapper">
            <a href="#" class="visible-xs" id="toggle-sidebar">
                <i id="bars" class="fa fa-bars fa-2x"></i>
                <i id="cross" class="fa fa-times fa-2x" style="display: none;"></i>
            </a>
            <div class="container-fluid">
                {% block user_content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% render_bundle 'user' %}
{% endblock %}