{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Log in</h1>
    <a class="btn btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
        <i class="fa fa-facebook"></i>
        Login with Facebook
    </a>
    <br>
    <a class="btn btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
        <i class="fa fa-google"></i>
        Login with Google
    </a>
    <br>

    <div id="facebookButton" data-method="login"></div>
    <div id="googleButton" data-method="login"></div>


    {% render_bundle 'user' %}
{% endblock %}
