{% extends 'Nav.html' %}
{% block content %}
    <h1 class="text-center">Profile for {{ user.get_full_name }}</h1>
    <p class="text-center"> Display Name:{{ user.profile.display_name }}</p>
    <div class="col-sm-6 col-sm-offset-3">
        <form class="form" method="post" action="{% url 'save_settings' %}">
            {% csrf_token %}
            <div class="row">

                {% for fields in user_form %}
                    <div class="form-group">
                        <label id={{ fields.id_for_label }} class="control-label">{{ fields.label }}</label>
                        {{ fields }}
                    </div>
                {% endfor %}
                {% for fields in profile_form %}
                    <div class="form-group">
                        <label id={{ fields.id_for_label }} class="control-label">{{ fields.label }}</label>
                        {{ fields }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% if not user.company.name and user.profile.approved_as_seller %}
                    <h3>Your company name is not set, please set it</h3>
                {% endif %}
                {% if company_form %}
                    {% for fields in company_form %}
                        <div class="form-group">
                            <label id={{ fields.id_for_label }} class="control-label">{{ fields.label }}</label>
                            {{ fields }}
                            <span class="help-block">{{ fields.help_text }}</span>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="row">
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'user_settings_password' %}" class="pull-right">Change password</a>
            </div>

        </form>
    </div>

{% endblock %}
