.btn {
  margin-bottom: 5px;
}



.profile_info {
  padding: 20px;
  vertical-align: middle;
  display: inline-block;
  h4 {
    margin-bottom: -20px !important;
  }
}

#address_list {
  td {
    vertical-align: middle;
  }
}