option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "budsdeal.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "budsdeal/wsgi.py"
container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
packages:
  yum:
    postgresql94-devel: []