{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <h1>Add Products</h1>
    <form class="form" method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {% for fields in add_product_form %}
                    <div class="form-group">
                        <label id={{ fields.id_for_label }} class="control-label">{{ fields.label }}</label>
                        {{ fields }}
                        <span class="help-block">{{ fields.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}