#order_list {
  tr td {
    vertical-align: middle;
    img {
      min-width: 56px;
      max-height: 56px;
    }
    .form-group {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}