{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <h1>List Products</h1>
    <a href="{% url 'add_product' %}" class="btn btn-success">Add Product</a>
    <hr>
    <div class="row">
        {% if product_list %}
            {% for items in product_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{% url 'update_product'  items.id %}">
                            <img src="/{{ items.item_pic }}" alt="{{ items.item_pic }}">
                        </a>
                        <div class="caption">
                            <h3>{{ items.name }}</h3>
                            <p>Type: {{ items.type }}</p>
                            <p>Brand: {{ items.brand }}</p>
                            <p>Price: ${{ items.price }}</p>
                            <p>Description: {{ items.description }}</p>
                            <p><a href="{% url 'delete_product' items.id %}" class="btn btn-danger">Delete</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}