{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <h1>List Products</h1>
    <a href="{% url 'add_product' %}" class="btn btn-success">Add Product</a>
    <hr>
    <div class="row">
        {% if product_list %}
            {% for items in product_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>{{ items.name | capfirst }}</h3></div>
                        <div class="panel-body">
                            {% for image in item_images %}
                                {% for i in image %}
                                    {% if i.item_id == items.id %}
                                        <img src="/{{ i.image }}" alt="{{ i.image }}" class="img-responsive">
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                            <div class="caption">
                                <p>Type: {{ items.type | capfirst }}</p>
                                <p>Brand: {{ items.brand | capfirst }}</p>
                                <p>Price: ${{ items.price }}</p>
                                <p>Unit: {{ items.count }} {{ items.weight_unit }}</p>
                                <p>Description: {{ items.description }}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="{% url 'update_product' items.id %}" class="btn btn-primary">Update
                                Product</a>
                            <a href="{% url 'delete_product' items.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}