{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block content %}
    <h1>Update Product</h1>
    <hr>
    <form class="form" method="post" action="{% url 'update_product' product_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {% for fields in edit_product_form %}
                    <div class="form-group">
                        <label id={{ fields.id_for_label }} class="control-label">{{ fields.label }}</label>
                        {{ fields }}
                        <span class="help-block">{{ fields.help_text }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ formset.management_form }}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h4>Three images</h4>
                {% for form in formset %}
                    {% for fields in form %}
                        <div class="form-group">
                            {{ fields }}
                            <span class="help-block">{{ fields.help_text }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
{% endblock %}