{% extends 'products_index.html' %}
{% block title %}Viewing {{ item.name }}{% endblock %}
{% block product_content %}
    <div class="splash-screen">
        <img src="/{{ item_images.0.image }}" alt="{{ item_images.0.image }}" class="img-responsive">
    </div>
    <div class="splash-circle center-block">
        <img src="/{{ item_images.1.image }}" alt="{{ item_images.1.image }}">
    </div>

    <h1 class="text-center">{{ item.name }} - ${{ item.price }}</h1>
    <hr>
    <div class="jumbotron">
        {% for image in item_images %}
            <div class="col-md-4 col-lg-4">
                <img src="/{{ image.image }}" alt="{{ image.image }}" class="img-responsive img-thumbnail">
            </div>
        {% endfor %}
        {% if item.user != user %}
            <p class="text-center"><a href="{% url 'send_message' item.user.profile.social_id item.id %}"
                                      class="btn btn-primary"> REQUEST
                FOR QUOTE</a></p>
        {% endif %}
        <p>Type: {{ item.type }}</p>
        <p>Brand: {{ item.brand }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Seller: {{ item.user.profile.display_name }}</p>
    </div>
{% endblock %}