{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Viewing {{ item.name }}{% endblock %}
{% block content %}
    <h1>{{ item.name }} - ${{ item.price }}</h1>
    <hr>
    <div class="jumbotron">
        <img src="/{{ item.item_pic }}" alt="{{ item.item_pic }}" class="img-responsive">
        <p>Type: {{ item.type }}</p>
        <p>Brand: {{ item.brand }}</p>
        <p>Description: {{ item.description }}</p>
        <p>Seller: {{ item.user.profile.display_name }}</p>
        {% if item.user != user %}
            <p><a href="{% url 'send_message' item.user.profile.social_id item.id %}">Send
                Message </a></p>
        {% endif %}
    </div>
{% endblock %}