{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Messages{% endblock %}
{% block content %}
    <h1>{{ inbox_type }} Messages</h1>
    <a href="{% url 'view_inbox_messages' %}" class="btn btn-default">Inbox</a>
    <a href="{% url 'view_sent_messages' %}" class="btn btn-default">Sent</a>
    <hr>
    <table class="table table-striped table-hover">
        {% if inbox_type  == 'Sent' %}
            <thead>
            <tr>
                <th>To</th>
                <th>Regarding</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Amount</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for message in user_messages %}
                <tr>
                    <td>{{ message.to_user.profile.display_name }}</td>
                    <td><a href="{% url 'view_product' message.regard_item.id %}">{{ message.regard_item }}</a></td>
                    <td><a href="{% url 'message_details' message.id %}">{{ message.subject }}</a></td>
                    <td>{{ message.content|truncatechars:50 }}</td>
                    <td>{{ message.regard_item_amount }}</td>
                    <td>{{ message.timestamp }}</td>
                    <td><a href="{% url 'delete_message' message.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        {% elif inbox_type == 'Inbox' %}
            <thead>
            <tr>
                <th>From</th>
                <th>Regarding</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Amount</th>
                <th>Read</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for message in user_messages %}
                <tr>
                    <td>{{ message.from_user.profile.display_name }}</td>
                    <td><a href="{% url 'view_product' message.regard_item.id %}">{{ message.regard_item }}</a></td>
                    <td><a href="{% url 'message_details' message.id %}">{{ message.subject }}</a></td>
                    <td>{{ message.content|truncatechars:50 }}</td>
                    <td>{{ message.regard_item_amount }}</td>
                    <td>{{ message.read }}</td>
                    <td>{{ message.timestamp }}</td>
                    <td><a href="{% url 'delete_message' message.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    {% block message_form %}
    {% endblock %}
{% endblock %}