{% extends 'Nav.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Main Page{% endblock %}
{% block content %}
    <h1>Main Page</h1>
    <hr>
    <div class="row">
        {% if product_list %}
            {% for item in product_list %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="{% url 'view_product'  item.id %}">
                            <img src="/{{ item.item_pic }}" alt="{{ item.item_pic }}">
                        </a>
                        <div class="caption">
                            <h3>{{ item.name }} - ${{ item.price }}</h3>
                            <p>Type: {{ item.type }}</p>
                            <p>Brand: {{ item.brand }}</p>
                            <p>Description: {{ item.description }}</p>
                            <p>Seller: <a
                                    href="{% url 'view_profile' item.user.profile.social_id %}">{{ item.user.get_full_name }} </a>
                            </p>
                            <p>Created: {{ item.created_at|timesince }} ago</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% render_bundle 'main' %}
{% endblock %}