<footer class="page-footer blue center-on-small-only">

    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center">To get the latest news and deals, subscribe to our mailing list</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your email"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-raised">Subscribe</button>
                </span>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">


            <div class="col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2">
                <h4 class="title">ABOUT US</h4>
                <ul class="footer-links">
                    <li><a href="#!">WHO WE ARE</a></li>
                    <li><a href="#!">LEGAL</a></li>
                    <li><a href="#!">PRIVACY</a></li>
                    <li><a href="#!">SITEMAP</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-md-2">
                <h4 class="title">SERVICES</h4>
                <ul class="footer-links">
                    <li><a href="#!">CONTACT US</a></li>
                    <li><a href="#!">NEWS</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2">
                <h4 class="title">WHOLESALERS</h4>
                <ul class="footer-links">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                </ul>
                <h4 class="title">RETAILERS</h4>
                <ul class="footer-links">
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 text-center">
                <h4 class="title">FOLLOW US</h4>
                <a href="#!" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#!" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#!" class="btn btn-social-icon btn-google"><i class="fa fa-google"></i></a>
                <a href="#!" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>


    <div class="footer-copyright text-center">
        <div class="container-fluid">
            © {% now "Y" %} Copyright - <a href="https://www.budsdeal.com"> Budsdeal.com</a>
        </div>
    </div>

</footer>