{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% render_bundle 'vendor' %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#budsdeal-nav"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Budsdeal</a>
        </div>

        <div class="collapse navbar-collapse" id="budsdeal-nav">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Main</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user and not user.is_anonymous %}
                    {% if user.profile.profile_photo %}
                        <img class="pull-left img-responsive img-rounded"
                             style="max-height: 38px; margin-top: 5px"
                             src="/{{ user.profile.profile_photo }}"/>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user.get_full_name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if user.profile.approved_as_seller %}
                                <li><a href={% url 'list_product' %}>List Product</a></li>
                            {% endif %}
                            <li><a href={% url 'user_settings' %}>Account Profile</a></li>
                            <li><a href={% url 'user_logout' %}>Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href={% url 'user_signup' %}>Sign up</a></li>
                    <li><a href={% url 'user_login' %}>Log in</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
    {% include 'Footer.html' %}
</div>

</body>
</html>