{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load render_bundle from webpack_loader %}
<head>
    <link href="{% static 'components/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'components/bootstrap/dist/css/bootstrap-theme.min.css' %}" type="text/css"
          rel="stylesheet"/>
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Budsdeal</a>
        </div>
        <div class="collapse navbar-collapse" id="menu-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/asd/">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'user_login' %}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
{% render_bundle 'app' %}
</body>

</html>