{% extends 'User_Sidebar.html' %}
{% load render_bundle from webpack_loader %}
{% block title %}Orders{% endblock %}

{% block child_content %}

    <h1>Current Orders</h1>
    {% if buy_order %}
        <div class="panel panel-primary">
            <div class="panel-heading">Buying</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        {#                        <th>Seller</th>#}
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Total Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in buy_order %}
                        <tr {% if order.order_status == 'canceled' %} class="text-danger"
                                                                      style="font-style: italic"{% endif %}>
                            <td><a href="{% url 'view_order' order.id %}">{{ order.id }}</a></td>
                            {#                            <td>#}
                            {#                                <a href="{% url 'view_profile' order.item.user.profile.display_name %}">#}
                            {#                                    {{ order.item.user.get_full_name }}#}
                            {#                                </a>#}
                            {#                            </td>#}
                            <td>{{ order.order_status }}</td>
                            <td>{{ order.item_amount }}</td>
                            <td>${{ order.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if sell_order %}
        <div class="panel panel-primary">
            <div class="panel-heading">Selling</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Buyer</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Total Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in sell_order %}
                        <tr {% if order.order_status == 'canceled' %} class="text-danger"
                                                                      style="font-style: italic"{% endif %}>
                            <td><a href="{% url 'view_order' order.id %}">{{ order.id }}</a></td>
                            <td>
                                <a href="{% url 'view_profile' order.buyer.profile.display_name %}">
                                    {{ order.buyer.get_full_name }}
                                </a>
                            </td>
                            <td>{{ order.order_status }}</td>
                            <td>{{ order.item_amount }}</td>
                            <td>${{ order.total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% render_bundle 'order' %}
{% endblock %}