<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Product information</h3>
    </div>
    <div class="panel-body">
        {% if order %}
            <a href="#" class="btn btn-success btn-raised" id="add_product"
               data-order_id="{{ order.id }}">Add Product</a>
        {% endif %}
        <table class="table table-hover table-bordered" id="order_list">
            <thead>
            <tr>
                <th>Items</th>
                <th>Quantity</th>
                <th>Weight Unit</th>
                <th>Unit Price</th>
                <th class="hidden-xs">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if order_items %}
                    {% for item in order_items %}
                        <td>
                            <img src="/{{ item.primary_photo }}" class="img-responsive img-rounded"/>
                            <p><a href="{% url 'view_product' item.item.id %}">{{ item.item.name }}</a></p>
                        </td>
                        <td>{{ item.form.item_amount }}</td>
                        <td>{{ item.item.weight_unit }}</td>
                        <td class="item_price">{{ item.item.price }}</td>
                        <td class="hidden-xs">$<span class="order_subtotal">{{ order.total }}</span></td>
                    {% endfor %}
                {% else %}
                    <td>
                        <img src="/{{ primary_photo.0.image }}" class="img-responsive img-rounded"/>
                        <p><a href="{% url 'view_product' regard_item.id %}">{{ regard_item.name }}</a></p>
                    </td>
                    <td>{{ order_item_form.item_amount }}</td>
                    <td>{{ regard_item.weight_unit }}</td>
                    <td class="item_price">{{ regard_item.price }}</td>
                    <td class="hidden-xs">$<span class="order_subtotal">{{ order.total }}</span></td>
                {% endif %}

            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix">
        <h4 class="pull-right text-danger">Total: $<span id="order_total">{{ order.total }}</span></h4>
    </div>
</div>